@import (less) "options.less";
.section-title{
  margin: 30px 0;
  display: inline-block;
  font-size: 30pt;
  font-weight: lighter;
  &:after{
    content: '';
    display: block;
    height: 2px;
    width: 50px;
    background: @green;
    margin-top: 5px;
  }
}
.categories{
  .category-item{
    margin: 20px 0;

    a{
      border: 1px solid @green;
      display: block;
    }
  }
}