@green: #7bae5d;
@grey : #ccc;
@darkgrey: #666;

.transition(@time: .2s,@method: ease) {
  -webkit-transition: @time @method;
  -moz-transition: @time @method;
  -ms-transition: @time @method;
  -o-transition: @time @method;
  transition: @time @method;
}
.border-radius(@value: 5px){
  -webkit-border-radius: @value;
  -moz-border-radius: @value;
  border-radius: @value;
}

.box-shadow(@arguments: 0 5px 10px, @color: #666){
  -webkit-box-shadow: @arguments @color;
  -moz-box-shadow: @arguments @color;
  box-shadow: @arguments @color;
}