@green: #7bae5d;


.transition(@time: .2s,@method: ease) {
  -webkit-transition: @time @method;
  -moz-transition: @time @method;
  -ms-transition: @time @method;
  -o-transition: @time @method;
  transition: @time @method;
}
